/* #Navigation {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 20px;
}
#logo {
  color: rgb(236, 159, 14);
  padding-top: px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-top: 6px;
  padding-right: 300px;
  font-family: Courier New;
}
#p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* #SecondCol {
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
