#ONas{
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#t{
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
