  #S3Container {
  /* height: 400px; */
  /* height: 320px; */
  
}  
 

#autko{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}